{% extends 'base.html.twig' %}

{% block title %}Module index{% endblock %}

{% block body %}
<div class="card">
    

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresseip</th>
                <th>Photo</th>
                <th>Etat</th>
                <th>TypeModule</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {# Boucle permettant de retrouver les données dans la base de données #}
        {% for module in modules %}
            {# {% for mesure in module.mesures %} #}
                <tr>
                    <td>{{ module.nom }}</td>
                    <td>{{ module.adresseip }}</td>
                    <td>{{ module.photo }}</td>
                    <td>{{ module.etat ? 'Fonctionnel' : 'Panne' }}</td>
                    <td>{{ module.typeModule }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('app_crud_show', {'id': module.id}) }}">Détail</a>
                        <a class="btn btn-success" href="{{ path('app_crud_edit', {'id': module.id}) }}">Edit</a>
                    </td>
                </tr>
                {# Si jamais la boucle ne trouve rien dans la base de données #}
            {% else %}
                <tr>
                    <td colspan="7">Pas de données disponible</td>
                </tr>
            {# {% endfor %} #}
        {% endfor %}
        </tbody>
    </table>
    {# Bouton qui permet de crée un nouveau module #}
    <a class="btn btn-primary" href="{{ path('app_crud_new') }}">Crée nouveau module</a>
</div>
{% endblock %}

