{% extends 'base.html.twig' %}

{% block title %}Module index{% endblock %}

{% block body %}
<div class="card">
    <h1>Module index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresseip</th>
                <th>Photo</th>
                <th>Etat</th>
                <th>TypeModule</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {# Boucle permettant de retrouver les données dans la base de données #}
        {% for module in modules %}
        {% for mesure in mesures %}
            <tr>
                <td>{{ module.id }}</td>
                <td>{{ module.nom }}</td>
                <td>{{ module.adresseip }}</td>
                <td>{{ module.photo }}</td>
                <td>{{ mesure.etat ? 'Fonctionnel' : 'Panne' }}</td>
                <td>{{ module.typeModule }}</td>
                <td>
                    <a href="{{ path('app_crud_show', {'id': module.id}) }}">Détail</a>
                    <a href="{{ path('app_crud_edit', {'id': module.id}) }}">Edit</a>
                </td>
            </tr>
            {# Si jamais la boucle ne trouve rien dans la base de données #}
        {% else %}
            <tr>
                <td colspan="7">Pas de données disponible</td>
            </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    {# Bouton qui permet de crée un nouveau module #}
    <a href="{{ path('app_crud_new') }}">Crée nouveau module</a>
</div>
{% endblock %}

