{% extends 'base.html.twig' %}

{% block title %}Module{% endblock %}

{% block body %}
<div class="card">
         {# Regroupe toutes les informations sur le module #}
         <div class=" px-3 pt-3 mb-3 text">
         
                     <h3 class="text-center">{{ module.nom }}</h3>
     <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 ">                   
                            <img class="img1" src='/image/{{ module.photo }}'/>
                            
                               <h5 class="text-center"> Type d'équipement: {{ module.typemodule }} </h5>
                               <h5 class="text-center"> L'adresse IP: {{ module.adresseip }} </h5> 
                              {# Boucle permettant de voir l'état du module  #}
                               {% if mesure.etat == 1 %}
                               <div class="alert alert-success" role="alert">
                                    L'équipement fontionne correctement
                                </div>
                               {% else %}
                               <div class="alert alert-danger" role="alert">
                                Attention une panne est détécter sur cet équipement 
                                </div>
                               {% endif %}
                               {# Boucle permettant de vérifier si il y a bien des données #}
                               {% if mesure.valeur >= 0 %}
                                <h5 class="text-center"> Donnée: {{ mesure.nom }} </h5>
                               {% else %}
                               <h5>Aucune données</h5>
                               {% endif %}
                           
                                                    
                        </div>
                        {# Graphique #}
                        <div class="container">
                            {# Bouton permettant de changer de style de graphique #}
                            <div class="controls">
                                <h5 class="label">Type de graphique</h5>
                            <select name="chartType" id="chartType" onchange="updateChartType()">
                                <option value="line">Line</option>
                                <option value="bar">Bar</option>                             
                            </select>
                            
                        </div>
                    <div class="chart-container" style="position: relative; width:85vw">
                            <canvas id="myChart" width="200" height="100"></canvas>
                         </div>    
                        </div>
                        {# Le graphique en soit #}
                        {% block javasripts %}
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
                        <script>

                                    myData = {
                                        labels: {{ mesDate|raw }},
                                        datasets: [
                                    {
                                        label: "Donnée durant la journée",
                                        fill: true,
                                        backgroundColor: 'rgba(19, 164, 236, 0.86)',
                                        borderColor: 'rgb(19, 206, 211))',
                                        data: {{ mesValeur|raw }},
                                    }]
                                 };

                    Chart.defaults.global.defaultFontFamily = "monospace";
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                    type: 'line',
                    data: myData
                });
                        {# Permet de changer de type de graphique #}
                        function updateChartType() {

                            myChart.destroy();
                                myChart = new Chart(ctx, {
                                type: document.getElementById("chartType").value,
                                data: myData,
                            });
                        };

</script>

           

                        {% endblock %}
                    </div>
              
        {# <a href="{{ path('app_new') }}">New </a> #}
  
    <a class="btn btn-info" href="{{ path('app_crud_index') }}">Retour en arrière</a>

    <a class="btn btn-success" href="{{ path('app_crud_edit', {'id': module.id}) }}">Modifier</a>

    {{ include('crud/_delete_form.html.twig') }}
    </div>

</div>
{% endblock %}
